#containerfloat > div {
  float: left;
}
#rectanglevert{
  height: 50px;
  width: 75%;
  background: #5ee91d;
}
#rectanglebleu{
	height: 50px;
  width: 25%;
	background:#1d30e9;
}
#rectanglerouge{
  height: 175px;
  width: 30%;
  background: #e9231d;
}
#rectangleorange{
  height: 85px;
  width: 30%;
  background: #eb7f22;
}
#rectanglegris{
  height: 85px;
  width: 40%;
  background: #95a5a5;
}
#rectanglejaune{
  height: 90px;
  width: 22%;
  background: #f39c11;
}
#rectanglebleuciel{
  height: 90px;
  width: 25%;
  background: #1ba086;
}
#rectangleorangefonce{
  height: 90px;
  width: 23%;
  background: #d25400;
}
#rectanglebleubas{
  height:230px;
  width: 100%;
  background: #2d3e50;
}
